html {
    background-color: #008080;
}
body {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    background-color: antiquewhite;
}

.wrapper {
    height: 95vh;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    border: 1px solid black;
    background-color: #27f2f2;
}

.header ul { 
    display: flex;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.about {
    height: 45vh;
    display: flex;
    margin: 0 auto;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
}

.about img {
    height: 45vh;
    margin: 0 auto;
    border: 6px solid green;
}

.firstP {
    height: 42vh;
    width: 31vw;
    margin: 5px auto;
    background-color: yellow;
    box-shadow: 2px 2px 5px 5px black;
    font-size: 1.8vw;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
}

li {
    list-style-type: none;
}

.header ul li button {
    width: 150px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    height: 25px;
    box-shadow: black 1.5px 1.5px 1.5px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.header ul li button:hover {
    background-color: #008080;
}

.bottom {
    border: 1px solid black;
    width: 40vw;
    height: 3vh;
    background-color: yellow;
    box-shadow: 2px 2px 5px 5px black;
    font-size: 1vw;
    padding: .4vh 2vh 3vh 2vh;
    margin-top: 32vh;
    position: absolute;
    text-align: center;
}

footer {
    background-color: khaki;
    height: 5vh;
    width: 70%;
    align-content: center;
    position: absolute;
}

footer > p {
    margin: 5px auto;
    font-size: 1vw;
}

@media (max-width: 850px) {
    body {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    
    .about img {
        height: 33vh;
    }
    
    .firstP {
        height: 30vh;
        width: 40vw;
        font-size: 2vw;
        padding: 10px 10px 10px 10px;
    }
    
    .header ul li button {
        width: 120px;
    }
    
    .bottom {
        width: 60vw;
        height: 3vh;
        font-size: 1vw;
        padding: .4vh 1vh 1.5vh 1vh;
        margin-top: 32vh;
        font-size: 1.5vw;
    }
    
    footer {
        height: 5vh;
        width: 100%;
    }
    
    footer > p {
        margin: 5px auto;
        font-size: 2.1vw;
    }
}


@media (max-width: 500px) {
    .about img {
        height: 27vh;
    }
    
    .firstP {
        height: 25vh;
        width: 31vw;
        font-size: 2vw;
        padding: 10px 10px 10px 10px;
    }
    .bottom {
        width: 60vw;
        height: 3vh;
        font-size: 1vw;
        padding: .4vh 1vh 1.5vh 1vh;
        margin-top: 32vh;
        font-size: 1.5vw;
    }
}
